name: push-dags-to-ec2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repo
        uses: actions/checkout@v4

      # 2️⃣ Copy DAGs to Bastion
      - name: Copy DAGs to Bastion
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.BASTION_HOST }}
          username: ${{ secrets.BASTION_USERNAME }}
          key: ${{ secrets.BASTION_SSH_KEY }}
          port: ${{ secrets.BASTION_PORT }}
          source: "dags/*"
          target: "~/app/"
          overwrite: true

      - name: Deploy DAGs to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.BASTION_HOST }}
          username: ${{ secrets.BASTION_USERNAME }}
          key: ${{ secrets.BASTION_SSH_KEY }}
          port: ${{ secrets.BASTION_PORT }}
          script: |
            echo "--- DEBUG BASTION: Listing files in ~/app/dags ---"
            ls -la ~/app/dags/

            echo "Stopping Airflow on EC2..."
            ssh -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem ubuntu@${{ secrets.EC2_HOST }} "\
              cd /home/ubuntu/app && \
              docker compose down \
            "

            echo "Copying DAGs from Bastion → EC2..."
            scp -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem -r ~/app/dags/* ubuntu@${{ secrets.EC2_HOST }}:/home/ubuntu/app/dags/

            echo "Starting Airflow on EC2..."
            ssh -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem ubuntu@${{ secrets.EC2_HOST }} "\
              cd /home/ubuntu/app && \
              docker compose up -d \
            "

            echo "Deployment complete"
