name: push-dags-to-ec2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Copy DAGs to Bastion
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.BASTION_HOST }}
          username: ${{ secrets.BASTION_USERNAME }}
          key: ${{ secrets.BASTION_SSH_KEY }}
          port: ${{ secrets.BASTION_PORT }}
          source: "dags/*"
          target: "~/app/"
          overwrite: true

      - name: Copy Dockerfile and requirements to Bastion
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.BASTION_HOST }}
          username: ${{ secrets.BASTION_USERNAME }}
          key: ${{ secrets.BASTION_SSH_KEY }}
          port: ${{ secrets.BASTION_PORT }}
          source: "dockerfile,requirements.txt"
          target: "~/"
          overwrite: true

      - name: Deploy DAGs to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.BASTION_HOST }}
          username: ${{ secrets.BASTION_USERNAME }}
          key: ${{ secrets.BASTION_SSH_KEY }}
          port: ${{ secrets.BASTION_PORT }}
          script: |
            echo "Copying files from Bastion to EC2"
            scp -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem -r ~/app/dags/* ubuntu@${{ secrets.EC2_HOST }}:/home/ubuntu/app/dags/
            scp -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem ~/dockerfile ubuntu@${{ secrets.EC2_HOST }}:/home/ubuntu/app/dockerfile
            scp -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem ~/requirements.txt ubuntu@${{ secrets.EC2_HOST }}:/home/ubuntu/app/requirements.txt

            echo "Rebuilding and restarting Airflow on EC2"
            ssh -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem ubuntu@${{ secrets.EC2_HOST }} "\
              cd /home/ubuntu/app && \
              docker compose down && \
              docker compose build --no-cache && \
              docker compose up -d \
            "

            echo "Deployment complete"