name: push-dags-to-ec2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Debug workspace
        run: |
          echo "Workspace:"
          pwd
          ls -la
          echo "Dags folder:"
          ls -la dags

      # Copy DAGs from GitHub → Bastion
      - name: Copy DAGs to Bastion
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.BASTION_HOST }}
          username: ${{ secrets.BASTION_USERNAME }}
          key: ${{ secrets.BASTION_SSH_KEY }}
          port: ${{ secrets.BASTION_PORT }}
          source: "dags/*"
          target: "~/app/dags/"
          overwrite: true

      # Run commands from Bastion → EC2
      - name: Deploy to EC2 Through Bastion
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.BASTION_HOST }}
          username: ${{ secrets.BASTION_USERNAME }}
          key: ${{ secrets.BASTION_SSH_KEY }}
          port: ${{ secrets.BASTION_PORT }}
          script: |
            echo "--- DEBUG BASTION ---"
            ls -la ~/app/dags/

            echo "Stopping Airflow on EC2..."
            ssh -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem ubuntu@${{ secrets.EC2_HOST }} "\
              cd /home/ubuntu/app && \
              docker compose down \
            "

            echo "Copying DAGs from Bastion → EC2..."
            scp -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem -r ~/app/dags/* ubuntu@${{ secrets.EC2_HOST }}:/home/ubuntu/app/dags/

            echo "Fixing permissions..."
            ssh -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem ubuntu@${{ secrets.EC2_HOST }} "\
              sudo chown -R ubuntu:ubuntu /home/ubuntu/app/dags && \
              sudo chmod -R 755 /home/ubuntu/app/dags \
            "

            echo "Starting Airflow again..."
            ssh -o StrictHostKeyChecking=no -i /home/ubuntu/airflow.pem ubuntu@${{ secrets.EC2_HOST }} "\
              cd /home/ubuntu/app && \
              docker compose up -d \
            "

            echo "Deployment complete ✔️"
